.section {
    box-shadow: 0px 0px 5px -2px rgb(151 151 151 / 82%);
    margin: 10px 0px;
}

.section__header {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 0px;
    padding: 15px;
    border: 1px solid #dadada;
    background-color: white;
}

.section__headerTitle {
    margin: 0px;
    min-width: 145px;
}

.section__content {
    padding: 15px;
    border: 1px solid #dadada;
    background-color: white;
}

@media (max-width: 540px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}
