.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__button {
    min-width: 167px;
    color: #008080;
    font-size: smaller;
    border: none;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 20px;
    background-color: transparent;
    transition: 1s;
}

.menu__button:hover {
    color: #00dfdf;
    transition: 1s;
}

.menu__button:disabled {
    color: #b5b5b5;
    cursor: auto;
}

@media (max-width: 540px) {
    .menu {
        flex-direction: column;
        margin-top: 15px;
        gap: 15px;
    }
}
